<app-header></app-header>
<div class="cover">
<div class="overlay-bg"> 
  <div class="header-content">  
  <div class="content-overlay">  
  <div class="mat-elevation-z5">
  <h1>Log In</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input matInput placeholder="Email adress" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']"
        >Email is required</mat-error
      >
      <mat-error *ngIf="email?.errors?.['email']"
        >Please enter a correct email format</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        type="password"
      />
      <mat-error *ngIf="password?.errors?.['required']"
        >Password is required</mat-error
      >
    </mat-form-field>

    <div class="center">
      <button mat-raised-button color="warn" type="submit">Log in</button>
    </div>

  </form>
   <div class="center padding-top-16">
     <span> Do not have account</span>
      <a routerLink="/signup" class="link">
              Sign Up
      </a>
    </div>
</div>

</div> 
 </div> 
 </div> 
</div>

