<div class="main-content">
  <div class="navbar-movie-list">
    <div class="navbar-logo">
    <img src="assets/netflix.png" alt="logo">
    </div>
    <div class="navbar-button">
    <button class="logout-button" routerLink="/">Log out</button>
    </div>
  </div>



    <div class="section-container"[style.backgroundImage]="'url(' + currentBackground + ')'">
      <div>
      <h2 class="section-title">
      {{ selectedTitle}}
      </h2>
      <p class="section-text">
       {{ selectedDescription  }}
      </p>
    <div class="section-button">
      <button class="play-button" (click)="playMovie()">
      <mat-icon class="custom-icon">play_circle_filled</mat-icon>
        <span class="font-medium" >
          Play
        </span>
      </button>
      <button class="info-button"  (click)="navigateToMoreInfo(selectedVideoImage)">
            <mat-icon>info_outline</mat-icon>

        <span class="font-medium">
          More Info
        </span>
      </button>
    </div>
  </div>
</div>


  
    <section class="section2-container">
  <div class="p-8 w-10/12 relative">
    <h2 class="section2-title">
      Popular on Netflix
    </h2>
    <div class="movie-list">
      <div class="movie-item" *ngFor="let movie of movies" (click)="chooseMovie(movie.video_image, movie)">
        <img [src]="movie.video_image">
        <h2 class="white-text">{{ movie.title }}</h2>
      </div>   
    </div>
  </div>
</section>


