<div class="main-content">
<div class="navbar-movie-list">
  <div class="navbar-logo">
    <img src="assets/netflix.png" alt="logo">
  </div>
  <div class="navbar-button">
    <button class="logout-button" routerLink="/">Log out</button>
  </div>
</div>


  <div class="section-1">
    <div class="container-more-info" [style.backgroundImage]="'url(' + selectedVideoImage + ')'">
  <div>
    <h2 class="section-title">
      {{ selectedTitle }}
    </h2>
    <p class="section-text">
      {{ selectedDescription }}
    </p>
    <div class="section-button">
      <button class="play-button" (click)="playMovie()">
      <mat-icon class="custom-icon">play_circle_filled</mat-icon>

        <span class="font-medium">
          Play
        </span>
      </button>
    </div>
  </div>
</div>

</div>

  <section class="section-2">
    <section class="section2-container">
  <div class="my-custom-container">
    <h2 class="section2-title">
      Popular on Netflix
    </h2>
   
     <p class="my-custom-text">
             {{ selectedDescription }}
    </p>
  
  </div>
</section>
  </section>
</div>

